<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="jumbotron">
  <div class="right"></div>
  <button class="button is-primary">Hello</button>
  <h2>Welcome to Super Rentals!</h2>
</div>